<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="static/img/favicon.ico">

	<title>Offcanvas template for Bootstrap</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/offcanvas.css" rel="stylesheet">
	<link href="static/css/main.css" rel="stylesheet">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<script>
	function spiner() {
		$('#mains').load("{{ url_for('spiner') }} #mains", function () {
		});
	}
</script>

<body class="bg-light">

	<main role="main" class="container">
		<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
			<img class="mr-3" src="static/img/logo.png" alt="" width="100" height="100">
			<div class="lh-100">
				<h4 class="mb-0 text-white lh-100">Contador de Palavras</h4>
				<small>Aplicativo de processamento de dados textuais<h5> <code> <b> mpgx.c</code>ounter </b> </h5> </small>
			</div>
		</div>

		<div style=" text-align: center;" class="my-3 p-3 bg-white rounded shadow-sm">
			<img width="300px" src="static/img/main.png">
		</div>

		<div id="mains"></div>

		<div class="my-3 p-3 bg-white rounded shadow-sm">

			<form method="POST" class="form-signin">

				{{ campos.csrf_token }}

				<div class="form-group">
					<label for="formGroupExampleInput">Palavras a serem pesquisadas</label>
					<label class="sr-only" for="inlineFormInputGroup">sdsdds</label>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">Palavras</div>
						</div>
						{{campos.Palavras(id="inlineFormInputGroup", type="text" ,class = "form-control " ,placeholder="Ex: 'Amor, Ódio, Informática'")}}
					</div>
				</div>

				<div class="alert alert-info">
					<strong>Observação!</strong> Digite as palavras separadas por virgula!<strong> <code> Ex: Amor, Ódio, Informática.</code>
					</strong>
				</div>

				<h5>Volume de dados</h5>

				<div class="form-group">
					<label for="comment">Insira aqui a massa de dados para a busca das palavras</label>
					{{campos.Texto(id="comment", rows="5", class = "form-control " ,placeholder="Insira seu dataset aqui")}}
				</div>
				<button  onclick="spiner()" class="btn btn-primary" type="submit">Enviar</button>
		</div>

		</div>
	</main>
</body>

</html>