<div id="main" class="media text-muted pt-3">

    <p class="media-body pb-3 mb-0 small lh-125  border-gray">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">*</th>
                    <th scope="col">Tempo</th>
                    <th scope="col">1ª Palavra</th>
                    <th scope="col">2ª Palavra</th>
                    <th scope="col">3ª Palavra</th>
                </tr>
            </thead>
            <tbody>

                {% for line in nodes %}
                <tr>
                    <th scope="row">
                        <img width="25px" src="static/img/file.svg">
                    </th>

                    <td><code>{{ line[1] }}</code></td>
                    <td>{{ line[2] }}</td>
                    <td>{{ line[3] }}</td>
                    <td>{{ line[4] }}</td>
                    
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </p>
</div>