<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="static/img/favicon.ico">

	<title>Offcanvas template for Bootstrap</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/offcanvas.css" rel="stylesheet">
	<link href="static/css/main.css" rel="stylesheet">
	
</head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<script type="text/javascript" language="javascript">

	$(document).ready(function () { /// Wait till page is loaded
		setInterval(timingLoad, 10000);
		function timingLoad() {
			$('#main').load("{{ url_for('update') }} #main", function () {
				/// can add another function here
			});
		}
	});

</script>

<body class="bg-light">

	<main role="main" class="container">
		<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
			<img class="mr-3" src="static/img/logo.png" alt="" width="100" height="100">
			<div class="lh-100">
				<h4 class="mb-0 text-white lh-100">Cluster - Gerenciamento</h4>
				<small>Cluster de processamento de dados textuais<h5> <code> <b> MapReduce </b> </code> </h5> </small>
			</div>
		</div>

		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<h6 class="border-bottom border-gray pb-2 mb-0">Administração</h6>
			<br>
		</div>
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<div id="main">
				<div class="test  spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>

			<small class="d-block text-right mt-3">
				<a href="#">Github</a>
			</small>

		</div>
	</main>

</body>

</html>