<div id="main" class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125  border-gray">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Node</th>
                    <th scope="col">IP</th>
                    <th scope="col">Status</th>
                    <th scope="col">Função</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>worker-100</td>
                    <td><code>192.168.0.1</code></td>
                    <td>Trabalhando</td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>worker-200</td>
                    <td><code>192.168.0.2</code></td>
                    <td>Trabalhando</td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
</div>